*{
	margin: 0;
	padding: 0;
}

body{
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

h1{
    background-color: #333;
    color: #fff;
    padding: 20px;
}

#przyciski a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

form{
    margin: 20px;
}

input{
    margin: 5px;
    padding: 5px;
}

button{
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#sekcja{
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/*logowanie*/

#logowanie{
	border: 4px solid black;
	width: 500px;
	/*height: 600px;*/



    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
	margin-top:100px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#logowanie p{
	margin-top:20px;
	font-size: 200%;
}

form#logowanie{
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: 50px;
}

input[type="text"]{
	width: 200px;
	margin: 3px 0;
	vertical-align: top;
	height: 20px;
}

input[type="password"]{
	width: 200px;
	margin: 3px 0;
	vertical-align: top;
	height: 20px;
}

#przyciski_login a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#przyciski_login button{
    display: inline-block;
    margin: 10px;
    padding: 9px 30px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
	cursor:pointer;
	font-size: 17px;
}

#przyciski_login{
	margin-top:75px;
	margin-bottom: 50px;
}

/*rejestracja*/

#rejestracja{
	border: 4px solid black;
	width: 500px;
	/*height: 600px;*/



    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
	margin-top:100px;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
}

#rejestracja p{
	margin-top:20px;
	font-size: 200%;
}

form#rejestracja{
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: 50px;
}

#przyciski_rejestracja a{
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

#przyciski_rejestracja button{
    display: inline-block;
    margin: 10px;
    padding: 9px 30px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
	cursor:pointer;
	font-size: 17px;
}

#przyciski_rejestracja{
	margin-top:75px;
	margin-bottom: 50px;
}